$clr-white: white;
$clr-dark-white: #dddddd;
$clr-dark-grey: rgb(39, 39, 39);
$clr-medium-grey: rgb(170, 170, 170);
$clr-theme-blue: #3d4e61;
$clr-theme-blue-darker: rgb(31, 54, 82);
$clr-theme-blue-light: #97a9bd;
$clr-theme-dark-blue: #282e39;
$clr-theme-purple: #635785;
$clr-theme-brown: #724c33;
$clr-theme-green: #53836c;


